In [65]:
# importing 

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
import keras

In [3]:
#importing Keras model requriements 

from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten

In [50]:
# dataset 

data = pd.read_csv('Downloads/concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [51]:
#describe the dataset
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [52]:
#converting the datas into float32

data = data.astype('float32')

In [53]:
#checking the modified dataset

data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.000000,0.000000,0.0,162.0,2.5,1040.000000,676.0,28.0,79.989998
1,540.000000,0.000000,0.0,162.0,2.5,1055.000000,676.0,28.0,61.889999
2,332.500000,142.500000,0.0,228.0,0.0,932.000000,594.0,270.0,40.270000
3,332.500000,142.500000,0.0,228.0,0.0,932.000000,594.0,365.0,41.049999
4,198.600006,132.399994,0.0,192.0,0.0,978.400024,825.5,360.0,44.299999

In [54]:
import numpy as np

#separate true lables from training and testing dataset
data_columns = data.columns

predictor = data[data_columns[data_columns != 'Strength']] # all columns except Strength
target = data['Strength'] # Strength column

In [55]:
#prediction values
predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.000000,0.000000,0.0,162.0,2.5,1040.000000,676.0,28.0
1,540.000000,0.000000,0.0,162.0,2.5,1055.000000,676.0,28.0
2,332.500000,142.500000,0.0,228.0,0.0,932.000000,594.0,270.0
3,332.500000,142.500000,0.0,228.0,0.0,932.000000,594.0,365.0
4,198.600006,132.399994,0.0,192.0,0.0,978.400024,825.5,360.0

In [56]:
#target values
target.head()

0    79.989998
1    61.889999
2    40.270000
3    41.049999
4    44.299999
Name: Strength, dtype: float32

# spliting the dataset 30% for testing

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictor,target, test_size=0.3, random_state=42)

In [58]:
#check shape of X_train
X_train.shape

(721, 8)

In [59]:
#check shape of X_test
X_test.shape

(309, 8)

# Part A

 # Normalize the data

In [60]:
# Normalize the train data
predictors_norm = (predictor- predictor.mean()) / predictor.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476713,-0.856473,-0.846728,-0.916319,-0.620146,0.862734,-1.217078,-0.279597
1,2.476713,-0.856473,-0.846728,-0.916319,-0.620146,1.055651,-1.217078,-0.279597
2,0.491187,0.795142,-0.846728,2.174406,-1.038636,-0.526262,-2.239828,3.551343
3,0.491187,0.795142,-0.846728,2.174406,-1.038636,-0.526262,-2.239828,5.055224
4,-0.790076,0.678080,-0.846728,0.488556,-1.038636,0.070493,0.647570,4.976072

In [61]:
# Normalize the test data
X_test_norm = (X_test- X_test.mean()) / X_test.std()
X_test_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
31,-0.080275,0.513998,-0.919251,2.152678,-1.099856,-0.511079,-1.347390,4.803080
109,0.940408,1.418580,-0.919251,-0.737985,0.897876,-0.344080,-0.278088,-0.566293
136,1.228861,1.418580,-0.919251,-1.608390,2.688946,-0.344080,-0.278088,-0.251330
88,0.940408,1.418580,-0.919251,-0.737985,0.897876,-0.344080,-0.278088,-0.626286
918,-1.358769,-0.860967,1.856630,0.961596,0.277890,-1.931229,1.132692,-0.251330

In [62]:
n_columns = predictors_norm.shape[1] #number of predictors

__checking the input shape to nerual network__

In [63]:
n_columns

8

# Build Keras library Three hidden layers, each of 10 nodes and ReLU activation function

In [94]:
def regression_model():
    
    #cerate model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(8,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    
    model.add(Dense(1))
    
    
    #complie the model
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [95]:
#build the model 
model = regression_model()

C:\Users\sande\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

# 100 epochs

In [96]:
#fit the model
model.fit(predictors_norm, target,epochs=100, verbose=2)

Epoch 1/100
33/33 - 1s - 33ms/step - loss: 1514.6112
Epoch 2/100
33/33 - 0s - 2ms/step - loss: 1442.1776
Epoch 3/100
33/33 - 0s - 2ms/step - loss: 1324.2444
Epoch 4/100
33/33 - 0s - 2ms/step - loss: 1135.1538
Epoch 5/100
33/33 - 0s - 2ms/step - loss: 855.4112
Epoch 6/100
33/33 - 0s - 3ms/step - loss: 527.2828
Epoch 7/100
33/33 - 0s - 2ms/step - loss: 280.1713
Epoch 8/100
33/33 - 0s - 2ms/step - loss: 226.7405
Epoch 9/100
33/33 - 0s - 2ms/step - loss: 205.1965
Epoch 10/100
33/33 - 0s - 2ms/step - loss: 199.9002
Epoch 11/100
33/33 - 0s - 2ms/step - loss: 191.9199
Epoch 12/100
33/33 - 0s - 2ms/step - loss: 187.9336
Epoch 13/100
33/33 - 0s - 2ms/step - loss: 181.3739
Epoch 14/100
33/33 - 0s - 2ms/step - loss: 178.8828
Epoch 15/100
33/33 - 0s - 2ms/step - loss: 179.0000
Epoch 16/100
33/33 - 0s - 2ms/step - loss: 175.6924
Epoch 17/100
33/33 - 0s - 2ms/step - loss: 170.1163
Epoch 18/100
33/33 - 0s - 2ms/step - loss: 171.4765
Epoch 19/100
33/33 - 0s - 2ms/step - loss: 166.7727
Epoch 20/100
33/33 - 0s - 2ms/step - loss: 159.9147
Epoch 21/100
33/33 - 0s - 2ms/step - loss: 156.4020
Epoch 22/100
33/33 - 0s - 2ms/step - loss: 161.3296
Epoch 23/100
33/33 - 0s - 2ms/step - loss: 153.7668
Epoch 24/100
33/33 - 0s - 2ms/step - loss: 147.7989
Epoch 25/100
33/33 - 0s - 2ms/step - loss: 147.9005
Epoch 26/100
33/33 - 0s - 2ms/step - loss: 148.3661
Epoch 27/100
33/33 - 0s - 2ms/step - loss: 141.4768
Epoch 28/100
33/33 - 0s - 2ms/step - loss: 139.2997
Epoch 29/100
33/33 - 0s - 2ms/step - loss: 138.2342
Epoch 30/100
33/33 - 0s - 2ms/step - loss: 136.8628
Epoch 31/100
33/33 - 0s - 2ms/step - loss: 135.1966
Epoch 32/100
33/33 - 0s - 2ms/step - loss: 133.6411
Epoch 33/100
33/33 - 0s - 2ms/step - loss: 133.4588
Epoch 34/100
33/33 - 0s - 2ms/step - loss: 125.9185
Epoch 35/100
33/33 - 0s - 2ms/step - loss: 125.1052
Epoch 36/100
33/33 - 0s - 5ms/step - loss: 122.3813
Epoch 37/100
33/33 - 0s - 2ms/step - loss: 120.5183
Epoch 38/100
33/33 - 0s - 2ms/step - loss: 117.6027
Epoch 39/100
33/33 - 0s - 2ms/step - loss: 112.8517
Epoch 40/100
33/33 - 0s - 2ms/step - loss: 110.8671
Epoch 41/100
33/33 - 0s - 2ms/step - loss: 106.8781
Epoch 42/100
33/33 - 0s - 2ms/step - loss: 103.6645
Epoch 43/100
33/33 - 0s - 3ms/step - loss: 101.2249
Epoch 44/100
33/33 - 0s - 4ms/step - loss: 94.2923
Epoch 45/100
33/33 - 0s - 2ms/step - loss: 89.4545
Epoch 46/100
33/33 - 0s - 2ms/step - loss: 86.6629
Epoch 47/100
33/33 - 0s - 2ms/step - loss: 84.2649
Epoch 48/100
33/33 - 0s - 2ms/step - loss: 81.1062
Epoch 49/100
33/33 - 0s - 2ms/step - loss: 77.8984
Epoch 50/100
33/33 - 0s - 3ms/step - loss: 76.0410
Epoch 51/100
33/33 - 0s - 3ms/step - loss: 72.9980
Epoch 52/100
33/33 - 0s - 5ms/step - loss: 69.9967
Epoch 53/100
33/33 - 0s - 2ms/step - loss: 69.3617
Epoch 54/100
33/33 - 0s - 2ms/step - loss: 66.3683
Epoch 55/100
33/33 - 0s - 2ms/step - loss: 64.3443
Epoch 56/100
33/33 - 0s - 2ms/step - loss: 63.7417
Epoch 57/100
33/33 - 0s - 2ms/step - loss: 61.1095
Epoch 58/100
33/33 - 0s - 2ms/step - loss: 60.2546
Epoch 59/100
33/33 - 0s - 2ms/step - loss: 60.6289
Epoch 60/100
33/33 - 0s - 2ms/step - loss: 57.9635
Epoch 61/100
33/33 - 0s - 2ms/step - loss: 58.2307
Epoch 62/100
33/33 - 0s - 2ms/step - loss: 59.2725
Epoch 63/100
33/33 - 0s - 2ms/step - loss: 55.2901
Epoch 64/100
33/33 - 0s - 2ms/step - loss: 54.6514
Epoch 65/100
33/33 - 0s - 2ms/step - loss: 52.6961
Epoch 66/100
33/33 - 0s - 2ms/step - loss: 52.1598
Epoch 67/100
33/33 - 0s - 2ms/step - loss: 52.4295
Epoch 68/100
33/33 - 0s - 2ms/step - loss: 51.0094
Epoch 69/100
33/33 - 0s - 2ms/step - loss: 50.0627
Epoch 70/100
33/33 - 0s - 3ms/step - loss: 49.7393
Epoch 71/100
33/33 - 0s - 4ms/step - loss: 48.7614
Epoch 72/100
33/33 - 0s - 5ms/step - loss: 48.2000
Epoch 73/100
33/33 - 0s - 2ms/step - loss: 47.7861
Epoch 74/100
33/33 - 0s - 2ms/step - loss: 48.3444
Epoch 75/100
33/33 - 0s - 2ms/step - loss: 48.3270
Epoch 76/100
33/33 - 0s - 2ms/step - loss: 48.3358
Epoch 77/100
33/33 - 0s - 5ms/step - loss: 46.9072
Epoch 78/100
33/33 - 0s - 2ms/step - loss: 47.5929
Epoch 79/100
33/33 - 0s - 2ms/step - loss: 46.4528
Epoch 80/100
33/33 - 0s - 2ms/step - loss: 45.9657
Epoch 81/100
33/33 - 0s - 2ms/step - loss: 45.4133
Epoch 82/100
33/33 - 0s - 2ms/step - loss: 45.1351
Epoch 83/100
33/33 - 0s - 2ms/step - loss: 44.7884
Epoch 84/100
33/33 - 0s - 2ms/step - loss: 43.7296
Epoch 85/100
33/33 - 0s - 2ms/step - loss: 44.9363
Epoch 86/100
33/33 - 0s - 2ms/step - loss: 43.8733
Epoch 87/100
33/33 - 0s - 2ms/step - loss: 43.7281
Epoch 88/100
33/33 - 0s - 2ms/step - loss: 43.2580
Epoch 89/100
33/33 - 0s - 2ms/step - loss: 43.1521
Epoch 90/100
33/33 - 0s - 2ms/step - loss: 43.0978
Epoch 91/100
33/33 - 0s - 2ms/step - loss: 43.1765
Epoch 92/100
33/33 - 0s - 2ms/step - loss: 42.7136
Epoch 93/100
33/33 - 0s - 5ms/step - loss: 41.8799
Epoch 94/100
33/33 - 0s - 2ms/step - loss: 42.2197
Epoch 95/100
33/33 - 0s - 2ms/step - loss: 41.8099
Epoch 96/100
33/33 - 0s - 2ms/step - loss: 41.5478
Epoch 97/100
33/33 - 0s - 3ms/step - loss: 42.6460
Epoch 98/100
33/33 - 0s - 2ms/step - loss: 41.4286
Epoch 99/100
33/33 - 0s - 2ms/step - loss: 41.3319
Epoch 100/100
33/33 - 0s - 2ms/step - loss: 41.5969

# Evaluate the model on test data

In [98]:
from sklearn.metrics import mean_squared_error


y_pred = model.predict(X_test_norm)
mse = mean_squared_error(y_test, y_pred)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

# Repeat steps 1-3, 50 times

In [99]:
# Step 5: Repeat steps 1-3, 50 times 
num_repeats = 50
mse_list = []
for _ in range(num_repeats):
    X_train, X_test, y_train, y_test = train_test_split(predictor,target, test_size=0.3, random_state=42)
    model.fit(X_train, y_train, epochs=100, verbose=0)
    y_pred = model.predict(X_test_norm)
    mse_list.append(mean_squared_error(y_test, y_pred))

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 860us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 827us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 983us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 913us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 842us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 839us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 813us/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

# Report mean and standard deviation of mean squared errors

In [111]:
# Report mean and standard deviation of mean squared errors
mean_mse = np.mean(mse_list)
std_mse = np.std(mse_list)

print(f"Mean squared error (average over {num_repeats} repeats): {mean_mse:.2f}")
print(f"Standard deviation of mean squared errors: {std_mse:.2f}")

Mean squared error (average over 50 repeats): 1105.82
Standard deviation of mean squared errors: 265.75